@import "normalize"

@mixin base-font
	font: 1em/90% 'Inconsolata', monospace
	color: #fff

html
	min-height: 100%
	background: rgb(63,76,107) /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(63,76,107,1) 0%, rgba(0,0,0,1) 100%) /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(63,76,107,1) 0%,rgba(0,0,0,1) 100%) /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(63,76,107,1) 0%,rgba(0,0,0,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

h1
	@include base-font
	font-variant: small-caps
	font-size: 2.5em

.main-container
	margin: 0 auto
	height: 100vh
	text-align: center

	@media all and (min-width: 1216px)
		width: 40vw

	@media all and (min-width: 791px) and (max-width: 1215px)
		width: 50vw

	@media all and (min-width: 593px) and (max-width: 790px)
		width: 75vw

	@media all and (min-width: 320px) and (max-width: 592px)
		width: 100vw

.colorDiv, .controls, .msgDiv
	text-align: center
	margin-top: 25px

.colorBtn
	display: inline-block
	width: 25px
	padding: 40px 45px
	border-radius: 50%
	cursor: pointer

	@media all and (min-width: 320px) and (max-width: 413px)
		width: 15px
		padding: 25px 30px

.green
	background-color: #00c13a

.red
	background-color: #d60000

.yellow
	background-color: #ffd800

.blue
	background-color: #0090ff

.green-new
	background-color: #57ff35

.red-new
	background-color: #ff0000

.yellow-new
	background-color: #fff723

.blue-new
	background-color: #5be3ff

.button
	border: 1px solid #fff
	border-radius: 25px
	padding: 10px 15px
	margin: 0 auto
	@include base-font
	cursor: pointer

	&:first-of-type
		margin-right: 15px

	@media all and (min-width: 320px) and (max-width: 413px)
		font-size: .8em


.clickedBtn
	background-color: #fff
	color: #3f4c6b

.count
	@include base-font
	min-height: 1em

